<div class="cell col-xs-2">
    <input name="operator" ng-if="subject.operatorOpts.length == 1" ng-repeat="operator in subject.operatorOpts" value="{{ operator }}" class="form-control" disabled>
    <select name="operator" ng-model="subject.operator" ng-if="subject.operatorOpts.length > 1" ng-options="operator for operator in subject.operatorOpts" class="form-control"></select>
</div>
<div class="cell col-xs-2">
    <div ng-switch="subject.type">
        <input name="value" type="number" ng-switch-when="integer" ng-model="subject.right.value" class="form-control" />
        <select name="value" ng-switch-when="boolean" ng-model="subject.right.value" ng-init="subject.right.value= subject.right.value == null ? 1 : subject.right.value" class="form-control">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
        <input name="value"  type="text" ng-switch-default ng-model="subject.right.value" class="form-control" />
    </div>
</div>
