<div class="cell col-xs-2">
    <select ng-model="subject.operator" ng-options="operator for operator in subject.operatorOpts" class="form-control"></select>
</div>
<div class="cell col-xs-2">
    <!--<div class="well">{{ subject.right.value | json: object }}</div>-->
    <ul class="list-group" ng-if="subject.right.value.length">
        <li class="list-group-item" ng-repeat="key in subject.right.value">{{ key }} <a class="fa fa-remove danger pull-right" ng-click="unpickObject(key)"></a></li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="isPickerOpen = !isPickerOpen">Add item</button>
    <ng-modal show="isPickerOpen">
        <content-browser site-id="0" locale="nl_NL" directory-id="0" mode="PICKER" receiver="{{ this.$id }}"></content-browser>
    </ng-modal>
</div>
