.ruleeditor .layoutselect {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 250px;
}
.ruleeditor .rule {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.ruleeditor .rule .values {
  float: left !important;
}
.ruleeditor .rule .cell {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 150px !important;
}
.ruleeditor .rule .cell-large {
  width: 250px !important;
}
.ruleeditor .rule .list-group {
  margin-bottom: 5px;
}
.ruleeditor .rule .list-group label {
  font-weight: normal;
}
.ruleeditor .rule .list-group-item {
  padding: 6px 10px;
}
.ruleeditor .rule .list-group-item .glyphicon {
  display: none;
  float: right;
  margin-top: -2px;
  margin-right: -9px;
}
.ruleeditor .rule .list-group-item:hover .glyphicon {
  display: inline-block;
}
.ruleeditor .children {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 60px;
}
.ruleeditor .controls {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50px;
  height: 34px;
  padding-top: 5px;
  font-size: 12px;
}
.ruleeditor .controls a.glyphicon-th-list {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  color: #eeeeee;
}
